[global]
server.socket_port = 8080
server.socket_host = "localhost"
#environment = 'production'
#log.error_file = 'site.log'

[/]
tools.staticdir.root = os.path.normpath(os.path.abspath(os.path.curdir))

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"

[/uploads]
tools.staticdir.on = True
tools.staticdir.dir = "uploads"

[/img]
tools.staticdir.on = True
tools.staticdir.dir = "img"
